body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 900;
}

h2 {
    font-size: 500;
}

.name-color {
    color: gold;
}

.flexible-container {
    display: flex;

}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

p {
    text-align: left;
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 150px;
    margin-bottom: 150px;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 150px;

}

#web-dev-exp {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full {
    border-left: 7px solid;
    border-image: linear-gradient(tomato, rgb(231, 9, 9));
    border-image-slice: 1;
}